$font-10: .625rem !default;
$font-12: .75rem !default;
$font-14: .875rem !default;
$font-16: 1rem !default;
$font-20: 1.25rem !default;
$font-24: 1.5rem !default;
$font-28: 1.75rem !default;

$font-regular: 400;
$font-medium: 500;
$font-bold-light: 600;
$font-bold-regular: 700;
$font-bold-medium: 800;

@mixin caption_medium{
    font-size: $font-12;
    font-weight: $font-medium;
    line-height: 1rem;
}

@mixin caption_small{
    font-size: $font-10;
    font-weight: $font-bold-regular;
    line-height: 0.875rem;
}

@mixin body_regular{
    font-size: $font-14;
    font-weight: $font-regular;
    line-height: 1.25rem;
}

@mixin label_regular{
    font-size: $font-14;
    font-weight: $font-medium;
    line-height: 1.25rem;
}