$font-10: .625rem !default;
$font-12: .75rem !default;
$font-14: .875rem !default;
$font-16: 1rem !default;
$font-20: 1.25rem !default;
$font-24: 1.5rem !default;
$font-28: 1.75rem !default;

$font-regular: 400;
$font-medium: 500;
$font-bold-light: 600;
$font-bold-regular: 700;
$font-bold-medium: 800;