//padding
.pr-0,
.px-0,
.p-0 {
    padding-right: 0 !important;
}
    
.pl-0,
.px-0,
.p-0 {
    padding-left: 0 !important;
}
    
.pt-0,
.py-0,
.p-0 {
    padding-top:0!important;
}
    
.pb-0,
.py-0,
.p-0 {
    padding-bottom:0 !important; 
}
    
.pr-xs,
.px-xs,
.p-xs {
    padding-right:0.25rem !important;
}
    
.pl-xs,
.px-xs,
.p-xs {
    padding-left: 0.25rem!important;
}
    
.pt-xs,
.py-xs,
.p-xs {
    padding-top: 0.25rem !important;
}
    
.pb-xs,
.py-xs,
.p-xs {
    padding-bottom: 0.25rem !important;
}

.pr-s,
.px-s,
.p-s {
    padding-right: 0.5rem !important;
}

.pl-s,
.px-s,
.p-s {
    padding-left: 0.5rem !important;
}

.pt-s,
.py-s,
.p-s {
    padding-top: 0.5rem !important;
}

.pb-s,
.py-s,
.p-s {
    padding-bottom: 0.5rem !important;
}

.pr-m,
.px-m,
.p-m {
    padding-right: 1rem !important;
}

.pl-m,
.px-m,
.p-m {
    padding-left: 1rem !important;
}

.pt-m,
.py-m,
.p-m {
    padding-top: 1rem !important;
}

.pb-m,
.py-m,
.p-m {
    padding-bottom: 1rem !important;
}

.pr-l,
.px-l,
.p-l {
    padding-right: 1.5rem !important;
}

.pl-l,
.px-l,
.p-l {
    padding-left: 1.5rem !important;
}

.pt-l,
.py-l,
.p-l {
    padding-top: 1.5rem !important;
}

.pb-l,
.py-l,
.p-l {
    padding-bottom: 1.5rem !important;
}

.pr-xl,
.px-xl,
.p-xl {
    padding-right: 2rem !important;
}

.pl-xl,
.px-xl,
.p-xl {
    padding-left: 2rem !important;
}

.pt-xl,
.py-xl,
.p-xl {
    padding-top: 2rem !important;
}

.pb-xl,
.py-xl,
.p-xl {
    padding-bottom: 2rem !important;
}

.pr-xxl,
.px-xxl,
.p-xxl {
    padding-right: 2.5rem !important;
}

.pl-xxl,
.px-xxl,
.p-xxl {
    padding-left: 2.5rem !important;
}

.pt-xxl,
.py-xxl,
.p-xxl {
    padding-top: 2.5rem !important;
}

.pb-xxl,
.py-xxl,
.p-xxl {
    padding-bottom: 2.5rem !important;
}


//margin
.mr-auto,
.mx-auto,
.m-auto{
    margin-right: auto !important;
}

.ml-auto,
.mx-auto,
.m-auto{
    margin-left: auto !important;
}

.mt-auto,
.my-auto,
.m-auto{
    margin-top: auto !important;
}

.mb-auto,
.my-auto,
.m-auto{
    margin-bottom: auto !important;
}

.mr-0,
.mx-0,
.m-0 {
    margin-right: 0 !important;
}
    
.ml-0,
.mx-0,
.m-0 {
    margin-left: 0 !important;
}
    
.mt-0,
.my-0,
.m-0 {
    margin-top:0!important;
}
    
.mb-0,
.my-0,
.m-0 {
    margin-bottom:0 !important; 
}
    
.mr-xs,
.mx-xs,
.m-xs {
    margin-right:0.25rem !important;
}
    
.ml-xs,
.mx-xs,
.m-xs {
    margin-left: 0.25rem!important;
}
    
.mt-xs,
.my-xs,
.m-xs {
    margin-top: 0.25rem !important;
}
    
.mb-xs,
.my-xs,
.m-xs {
    margin-bottom: 0.25rem !important;
}

.mr-s,
.mx-s,
.m-s {
    margin-right: 0.5rem !important;
}

.ml-s,
.mx-s,
.m-s {
    margin-left: 0.5rem !important;
}

.mt-s,
.my-s,
.m-s {
    margin-top: 0.5rem !important;
}

.mb-s,
.my-s,
.m-s {
    margin-bottom: 0.5rem !important;
}

.mr-m,
.mx-m,
.m-m {
    margin-right: 1rem !important;
}

.ml-m,
.mx-m,
.m-m {
    margin-left: 1rem !important;
}

.mt-m,
.my-m,
.m-m {
    margin-top: 1rem !important;
}

.mb-m,
.my-m,
.m-m {
    margin-bottom: 1rem !important;
}

.mr-l,
.mx-l,
.m-l {
    margin-right: 1.5rem !important;
}

.ml-l,
.mx-l,
.m-l {
    margin-left: 1.5rem !important;
}

.mt-l,
.my-l,
.m-l {
    margin-top: 1.5rem !important;
}

.mb-l,
.my-l,
.m-l {
    margin-bottom: 1.5rem !important;
}

.mr-xl,
.mx-xl,
.m-xl {
    margin-right: 2rem !important;
}

.ml-xl,
.mx-xl,
.m-xl {
    margin-left: 2rem !important;
}

.mt-xl,
.my-xl,
.m-xl {
    margin-top: 2rem !important;
}

.mb-xl,
.my-xl,
.m-xl {
    margin-bottom: 2rem !important;
}

.mr-xxl,
.mx-xxl,
.m-xxl {
    margin-right: 2.5rem !important;
}

.ml-xxl,
.mx-xxl,
.m-xxl {
    margin-left: 2.5rem !important;
}

.mt-xxl,
.my-xxl,
.m-xxl {
    margin-top: 2.5rem !important;
}

.mb-xxl,
.my-xxl,
.m-xxl {
    margin-bottom: 2.5rem !important;
}