#login-page{
    display: flex;
    align-items: center;
    justify-content: center;
    .login-left{
        display: flex;
        align-items: center;
        justify-content: center;
        .login-illustration{
            overflow: hidden;
        }
    }
    @media screen and (max-width:960px) {
        .login-left{
            display: none !important;
        }
    }
}