#login-box{
    min-height: 340px;
    min-width: 390px;
    border-radius: 6px;
    background-color: white;
    box-shadow: 0 3px 6px 0 rgba(0,0,0,0.16);
    padding: 40px;
    .login-seperator-container{
        margin: 24px 0;
        text-align: center;
        position: relative;
        .login-seperator{
            font-size: 14px;
            line-height: 1.23;
            text-align: center;
            color: $gray-700;
        }
        .login-seperator::before{
            margin-left: -142px;
        }
        .login-seperator::after{
            margin-left: 16px;
        }
        .login-seperator::after,
        .login-seperator::before{
            margin-top: 12px;
            position: absolute;
            content: "";
            height: 0px;
            width: 126px;
            border: solid 1px $gray-400;
        }
        
    }
}