.btn{
    border:none;
    cursor: pointer;
    text-decoration: none;
    padding: 0;
    background-color: $blue-500;
    &:focus-visible{
        z-index: 1;
    }
}

a.btn{
    text-decoration: none;
    text-align: center;
}

.btn:disabled{
    opacity: 0.6;
    cursor: not-allowed;
}

.btn.btn_primary{
    background-color: $primary;
    color: $white;
    border: 0.0625rem solid $blue-500;
    //&:active,
    &:hover {
        border-color: $blue-700;
        background-color: $blue-700;
        @include elevation-1;
    }
    //&:focus,
    &:focus-visible{
        background-color: $blue-500;
        outline: 0.25rem solid $blue-300;
    }
    &:disabled {
        background-color: $blue-500;
        opacity: 0.6;
    }
}

.btn.btn_r-primary{
    color: $blue-900;
    border: 0.0625rem solid transparent;
    //&:active,
    &:hover {
        background-color: $gray-100;
        box-shadow: 0px 1px rgba(7,7,7,0.15);
    }
    //&:focus,
    &:focus-visible{
        border: 0.0625rem solid $blue-500;
        outline: 0.25rem solid $blue-300;
        color: $blue-900;
        background: $white;
    }
    &:disabled {
        background: none;
        color: $gray-700;
        border:0.0625rem solid transparent;
        box-shadow: none;
    }
}

.btn.btn_r-primary.active{
    color: $white;
    border: 0.0625rem solid transparent;
    background: $blue-900;
}

.btn.btn_neutral{
    background-color: transparent;
    color: $gray-800;
    border: 0.0625rem solid $gray-600;
    //&:active,
    &:hover {
        background-color: $gray-300;
        @include elevation-1;
    }
    //&:focus,
    &:focus-visible{
        background-color: $gray-200;
        color: $gray-800;
        border: 0.0625rem solid $blue-500;
        outline: 0.25rem solid $blue-300;
    }
    &:disabled {
        background-color: transparent;
        color: $gray-800;
    }
}

.btn.btn_secondary{
    border: 0.0625rem solid $blue-500;
    color: $blue-500;
    background: none;
    //&:active,
    &:hover {
        background-color: $blue-100;
        @include elevation-1;
    }
    //&:focus,
    &:focus-visible{
        border: 0.0625rem solid $blue-500;
        outline: 0.25rem solid $blue-300;
    }
    &:disabled {
        background: none;
    }
}

.btn.btn_r-secondary{
    color: $gray-800;
    border: 0.0625rem solid $gray-400;
    background: none;
    //&:active,
    &:hover {
        color: $gray-900;
        background-color: $gray-100;
        border-color: $gray-400;
    }
    //&:focus,
    &:focus-visible{
        border: 0.0625rem solid $blue-500;
        outline: 0.25rem solid $blue-300;
        color: $gray-800;
        background: $white;
    }
    &:disabled {
        background: none;
        color: $gray-700;
        border: 0.0625rem solid $gray-400;
    }
}

.btn.btn_r-secondary.active{
    color: $gray-900;
    border: 0.0625rem solid $gray-400;
    background: $gray-300;
}

.btn.btn_plain{
    color: $blue-500;
    border: 0.0625rem solid transparent;
    background: none;
    //&:active,
    &:hover {
        background-color: $gray-200;
        @include elevation-1;
    }
    //&:focus,
    &:focus-visible{
        border: 0.0625rem solid $blue-500;
        outline: 0.25rem solid $blue-300;
    }
    &:disabled {
        background: none;
        box-shadow: none;
    }
}

.btn.btn_text{
    color: $blue-500;
    border: 0.0625rem solid transparent;
    background: none;
    padding: 0 .125rem;
    //&:active,
    &:hover {
        color: $blue-900;
        text-decoration: underline;
    }
    //&:focus,
    &:focus-visible{
        border: 0.0625rem solid $blue-500;
        outline: 0.25rem solid $blue-300;
        border-radius: 0.25rem;
        text-decoration: underline;
    }
    &:disabled {
        color: $blue-500;
        text-decoration: underline;
    }
}

@mixin font_s {
    padding: .3125rem 0.75rem;
    @include caption_medium;
}

@mixin font_m {
    padding: .4375rem 1rem;
    @include body_regular;
}

@mixin font_l{
    padding: .6875rem 1rem;
    @include body_regular;
}

.btn_s{
    border-radius: 0.25rem;
    @include font_s;
}

.btn_m{
    border-radius: 0.5rem;
    @include font_m;
}

.btn_l{
    border-radius: 0.5rem;
    @include font_l;
}

.btn_r-s{
    border-radius: 1.75rem;
    @include font_s;
}

.btn_r-m{
    border-radius: 1.75rem;
    @include font_m;
}

.btn_r-l{
    border-radius: 1.75rem;
    @include font_l;
}

.btn_i-primary,
.btn_i-primary-g {
    &.btn_i-l{
        border-radius: 0.5rem;
        padding: 0.4375rem;
    }
    &.btn_i-s{
        border-radius: 0.25rem;
        padding: 0.3125rem;
    }
    &.btn_i-xs{
        border-radius: 0.25rem;
        padding: 0.125rem;
    }
}

.btn_t-primary,
.btn_t-secondary,
.btn_t-secondary-a {
    border-radius: 50%;
    &.btn_i-l{
        height: 2rem;
        width: 2rem;
        @include body_regular;
    }
    &.btn_i-s{
        height: 1.5rem;
        width: 1.5rem;
        @include caption_medium;
    }
    &.btn_i-xs{
        height: 1rem;
        width: 1rem;
        @include caption_small;
    }
}

.btn.btn_i-primary{
    background: none;
    border: 0.0625rem solid transparent;
    outline: 0.0625rem solid transparent;
    & svg{
        display: block;
    }
    //&:active
    &:hover{
        background-color: $gray-100;
    }
    //&:focus
    &:focus-visible{
        border-color: $blue-500;
        outline: 0.0625rem solid $blue-300;
        background-color: $gray-100;
    }
    &:disabled{
        background: none;
    }
}

.btn.btn_i-primary-g{
    border: 0.0625rem solid transparent;
    outline: 0.0625rem solid transparent;
    background-color: $white;
    @include elevation-1;
    & svg{
        display: block;
    }
    //&:active
    &:hover{
        background-color: $gray-300;
    }
    //&:focus
    &:focus-visible{
        border-color: $blue-500;
        outline: 0.0625rem solid $blue-300;
        background-color: $white;
    }
}

.btn.btn_t-primary{
    background: $gray-200;
    color: $blue-500;
    //&:active
    &:hover{
        background-color: $gray-100;
    }
    //&:focus
    &:focus-visible{
        border: 0.0625rem solid $blue-500;
        outline: 0.0625rem solid $blue-300;
        color: $blue-500;
    }
    &:disabled{
        background: none;
    }
}

.btn.btn_t-primary{
    background: $gray-200;
    color: $blue-500;
    //&:active
    &:hover{
        background-color: $gray-100;
    }
    //&:focus
    &:focus-visible{
        border: 0.0625rem solid $blue-500;
        outline: 0.0625rem solid $blue-300;
        color: $blue-500;
    }
    &:disabled{
        background: none;
    }
}

.btn.btn_t-secondary{
    background: none;
    color: $blue-900;
    //&:active
    &:hover{
        background-color: $gray-200;
    }
    //&:focus
    &:focus-visible{
        border: 0.0625rem solid $blue-500;
        outline: 0.0625rem solid $blue-300;
        background-color: $blue-500;
        color: $white;
    }
    &:disabled{
        background: none;
    }
}

.btn.btn_t-secondary.active{
    background-color: $blue-500;
    color: $white;
}